<div class="card">
  <%= image_tag service_item.thumb_image if !service_item.thumb_image.nil? %>
  <p class="card-text">
    <span><%= link_to service_item.title, service_show_path(service_item.id) %></span>
    <%= service_item.subtitle %>
  </p>
</div>
