<div class="card" data-id="<%= service_item.id %>">
  <%= image_tag service_img(service_item.thumb_image.url, 'thumb') %>
  <p class="card-text">
    <span><%= link_to service_item.title, service_show_path(service_item.id) %></span>
    <%= service_item.subtitle %>
  </p>
</div>
