<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Ahsan Habib</h3>
    <nav class="nav nav-masthead app-nav justify-content-center">
      <%= nav_helper "nav-link", "span"%>
      <%= authenticate_helper "nav-link" %>
    </nav>
  </div>
</header>
